body {
    text-align: center;
}

#collision-alert {
    font-family: courier;
    font-weight: bold;
    opacity: 0;
    font-size: 1em;
}

#collision-alert.animated {
    opacity: 0.8;
    font-size: 3em;
    transition: opacity .7s ease-out;
}
